body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(69,200,218,1) 49%, rgba(0,151,255,1) 100%);
}
header {
    background-color: #55a0d9;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    
}

/* Estilos para las secciones */
section {
    padding: 20px;
    margin-bottom: 20px;
    color: #333;
 
}

section h2 {
    color: #000;
}

/* Estilos para el formulario de contacto */
.contact form input,
.contact form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.contact form button {
    padding: 10px 20px;
    background-color: #55a0d9;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}